* {
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    overflow: hidden;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #fff;
    border: 3px solid rgb(46, 8, 8);
    height: 50px;
    width: 100px;
    top: 1;
    position: absolute;
    border-radius: 10px;
    background-color: #b11b1b;

}

#start:hover {
    cursor: pointer;
    background-color: black;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(14, 235, 161);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#structure {
    height: 75%;
    width: 90%;
    background-color: aqua;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dadada;
}

#head {
    height: 100px;
    width: 100%;
    background-color: rgb(15, 229, 15);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #dadada;
}

.elem {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.box {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: #fff;
    /* padding: 10px 6px; */
    font-weight: 700;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom {
    width: 100%;
    height: calc(100% - 100px);
    /* background-color: red; */
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.bubble {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(16, 135, 16);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;


}

.bubble:hover {
    cursor: pointer;
    background-color: greenyellow;
}

#rights {
    width: 0.3%;
    color: #fff;
    bottom: 0;
    position: absolute;
}